.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;

	padding: 8px 16px;

	font-family: var(--font-family);
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;

	background-color: var(--accent-color);
	color: var(--light-color);

	border-radius: 2px;
	border: 1px solid var(--accent-color);
	outline: none;

	cursor: pointer;

	transition-property: background-color, color, border;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.button:hover,
.button:focus-visible,
.button:active {
	background-color: var(--gold-color);
	border-color: var(--gold-color);
}

.button__icon {
	width: 16px;
	height: 16px;
	object-fit: contain;

	fill: currentColor;
}

.button--outline {
	background-color: transparent;

	color: var(--gray-color-dark);
	/* outline: 1px solid var(--gray-color-dark); */
	border: 1px solid var(--gray-color-dark);
}

.button--outline:hover,
.button--outline:focus-visible,
.button--outline:active {
	color: var(--accent-color);
	background-color: transparent;
	border-color: var(--accent-color);
}
