.footer {
	padding: 60px 0;

	background-color: var(--light-color);
}

.footer__container {
}

.footer__grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 35px;
}

.footer__logo {
}

.footer__nav {
	flex-grow: 1;
}

.footer__nav-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.footer__nav-item {
}

.footer__nav-link {
	font-family: var(--font-family);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	color: var(--gray-color-dark);

	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.footer__nav-link:hover,
.footer__nav-link:focus-visible,
.footer__nav-link:active {
	color: var(--accent-color);
}

.footer__social {
}
