.header {
	padding: 46px 0;
}

.header__container {
}

.header__grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: var(--inline-container-padding);
}

.header__logo {
}

.header__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
	align-items: center;
}

.header__button {
}
